[Unit]
Description=DNS to DoH
Wants=network-online.target
After=network-online.target
[Service]
ExecStart=/usr/share/dohboy/dohboy
ExecStop=
Restart=on-failure
RestartSec=5
TimeoutStartSec=60
TimeoutStopSec=5
KillMode=process
Type=forking
[Install]
WantedBy=multi-user.target